.row {
    margin-left: 20px;
    color: #fff;
    z-index: 50;
    margin-bottom: 20px;
}

.categoryTitle {
    margin-left: 1.2rem;
    font-size: 1.5rem;
}

.posters {
    width: 93.5vw;
    display: flex; 
    flex-wrap: nowrap;
    padding: 20px;
    overflow-x: scroll;
   
}

.posters::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar{
    display: none;
}
.poster {
    max-height: 250px;
    width: auto; /* Adjust width automatically */
    margin-right: 10px;
    transition: transform 0.4s ease-in-out;
    border-radius: 4px;
    flex: 0 0 auto; /* Prevent shrinking */
}

.small-poster {
    max-height: 150px;
    width: auto; /* Adjust width automatically */
    margin-right: 10px;
    transition: transform 0.4s ease-in-out;
    border-radius: 4px;
    flex: 0 0 auto; /* Prevent shrinking */
}

.poster:hover, .small-poster:hover {
    transform: scale(1.1);
    z-index: 99;
}
