.footer {
    display: flexs;
    flex-direction: column;
    color: rgba(139, 139, 139, 0.753);
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
}
.sec-holder {
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding-bottom: 2rem;
}
.sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 10rem;
    display: flex;
    gap: 2rem;
}
.boxborder {
    margin-block: 1.6rem;
    border: 0.5px solid rgba(139, 139, 139, 0.753);
    padding-block: 0.6rem;
    padding-inline: 0.4rem;
    width: 100px;
}
